body{
    background: rgb(255, 255, 255);
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgb(3, 3, 3);
}
p{
    text-align: center;
    font-size: 30px;
    color: brown;
}
img{
    width: 320px;
    margin-left: 250px;
}
ul{
    text-align: center;
    font-size: 30px;
    color: black;
}
li{
    text-align: center;
    font-size: 30px;
    color: brown;
}
.cabecalho{

}
.logo{
    
}